In [7]:
# Download necessary libraries
import pandas as pd 
import numpy as np 
from datetime import date 

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_selection import VarianceThreshold

In [5]:
team_statistics_original = pd.read_csv('TeamStatistics.csv')

In [6]:
team_statistics_original.head()

,gameId,gameDate,teamCity,teamName,teamId,opponentTeamCity,opponentTeamName,opponentTeamId,home,win,...,leadChanges,pointsFastBreak,pointsFromTurnovers,pointsInThePaint,pointsSecondChance,timesTied,timeoutsRemaining,seasonWins,seasonLosses,coachId
0,42400156,2025-05-02 21:00:00,Golden State,Warriors,1610612744,Houston,Rockets,1610612745,1,0,...,10.0,28.0,12.0,32.0,12.0,3.0,0.0,3.0,3.0,NaN
1,42400156,2025-05-02 21:00:00,Houston,Rockets,1610612745,Golden State,Warriors,1610612744,0,1,...,10.0,11.0,24.0,42.0,19.0,3.0,0.0,3.0,3.0,NaN
2,42400176,2025-05-01 22:00:00,Denver,Nuggets,1610612743,Los Angeles,Clippers,1610612746,0,0,...,14.0,12.0,10.0,56.0,17.0,2.0,0.0,3.0,3.0,NaN
3,42400176,2025-05-01 22:00:00,Los Angeles,Clippers,1610612746,Denver,Nuggets,1610612743,1,1,...,14.0,11.0,23.0,50.0,17.0,2.0,0.0,3.0,3.0,NaN
4,42400126,2025-05-01 19:30:00,New York,Knicks,1610612752,Detroit,Pistons,1610612765,0,1,...,6.0,18.0,11.0,48.0,18.0,7.0,0.0,4.0,2.0,NaN